.header {
    text-align: center;
    background-color: #9353A1;
    color: White;
    font-size: x-large;
    text-decoration: none;
    font-weight: bold;
    height: 10%;
    width: 100%;
    padding: 10px;
}

.textFormat {
    font-family: Arial;
    font-size: 10pt;
    color: #444;
}

.main {
    height: auto;
    display: inline-table;
    background-color: white;
    margin-left: 380px;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: auto;
    border: thin;
    border-radius: 25px;
}

.tbl {
    border-collapse: separate;
    border-spacing: 0 15px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    height: auto;
    width: auto;
    /*font-family: Arial;*/
    font-display: block;
    font-Size: large;
}

.body {
    height: 80%;
    width: 100%;
    position: fixed;
}

.footer {
    height: 10%;
    width: 100%;
    background: url(images/mphasis_bottom-logo.png);
    position: fixed;
    bottom: 0;
}

.button {
    background-color: #9353A1;
    border: none;
    color: white;
    height: auto;
    width: auto;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    padding: 10px 24px;
    border-radius: 4px;
    box-shadow: 1px 1px;
    text-shadow: 2px 2px 2px purple;
}

    .button:hover {
        background-color: purple;
        color: white;
    }
